In [232]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
#loading a csv file
data1=pd.read_csv(r'C:\Users\Vishal Anjana\Desktop\12\12\test\0_classes.csv')
data2=pd.read_csv(r'C:\Users\Vishal Anjana\Desktop\12\12\train\0_classes.csv')
data3=pd.read_csv(r'C:\Users\Vishal Anjana\Desktop\12\12\valid\0_classes.csv')

In [6]:
#check for missing values
print(data1.isnull().sum())
print(data2.isnull().sum())
print(data3.isnull().sum())

filename       0
 Apple         0
 Banana        0
 Grapes        0
 Kiwi          0
 Mango         0
 Orange        0
 Pineapple     0
 Sugerapple    0
 Watermelon    0
dtype: int64
filename       0
 Apple         0
 Banana        0
 Grapes        0
 Kiwi          0
 Mango         0
 Orange        0
 Pineapple     0
 Sugerapple    0
 Watermelon    0
dtype: int64
filename       0
 Apple         0
 Banana        0
 Grapes        0
 Kiwi          0
 Mango         0
 Orange        0
 Pineapple     0
 Sugerapple    0
 Watermelon    0
dtype: int64

In [8]:
#handle missing value
data1=data1.dropna()
data2=data2.dropna()
data3=data3.dropna()

In [43]:
print(data1.columns)
print(data2.columns)
print(data3.columns)

Index(['filename', ' Apple', ' Banana', ' Grapes', ' Kiwi', ' Mango',
       ' Orange', ' Pineapple', ' Sugerapple', ' Watermelon'],
      dtype='object')
Index(['filename', ' Apple', ' Banana', ' Grapes', ' Kiwi', ' Mango',
       ' Orange', ' Pineapple', ' Sugerapple', ' Watermelon'],
      dtype='object')
Index(['filename', ' Apple', ' Banana', ' Grapes', ' Kiwi', ' Mango',
       ' Orange', ' Pineapple', ' Sugerapple', ' Watermelon'],
      dtype='object')

In [44]:
print(data1.head())
print(data2.head())
print(data3.head())

                                            filename   Apple   Banana  \
0  Image_50_jpg.rf.1d9648831986b61501ad830a42bf06...       0        0
1  Image_9_jpg.rf.4313573cfb7e9f2ad675a6720ab822c...       0        1
2  images-2023-02-07T153404-897_jpeg.rf.06f8ff26c...       0        0
3  images-2023-02-07T154729-469_jpeg.rf.47d2cdc39...       0        0
4  Image_40_jpg.rf.14b30ffb322f11e90516c57d903cf4...       0        0

    Grapes   Kiwi   Mango   Orange   Pineapple   Sugerapple   Watermelon
0        0      0       0        0           0            0            1
1        0      0       0        0           0            0            0
2        0      0       1        0           0            0            0
3        0      0       0        1           0            0            0
4        0      0       0        0           0            0            1
                                            filename   Apple   Banana  \
0  Image_83_jpg.rf.a8f265b8df3540d51f58d248f193f7...       0        0
1  images-2023-02-07T155811-656_jpeg.rf.a9b9be4c2...       0        0
2  Image_51_jpg.rf.a93e4010657a33cac9925c7c737aac...       0        0
3  images-2023-02-07T160736-941_jpeg.rf.a896b4e19...       1        0
4  images-2023-02-07T161801-786_jpeg.rf.a9b221e69...       0        0

    Grapes   Kiwi   Mango   Orange   Pineapple   Sugerapple   Watermelon
0        0      1       0        0           0            0            0
1        0      0       0        0           0            0            1
2        0      1       0        0           0            0            0
3        0      0       0        0           0            0            0
4        0      0       0        0           0            1            0
                                            filename   Apple   Banana  \
0  gettyimages-184969883-612x612_jpg.rf.004c314b7...       0        0
1  images-33-_jpeg.rf.0069af75dec8b0f61f0839a3f5b...       1        0
2  Image_23_png.rf.009e5303445e3ae64be2d1eee31c0a...       0        0
3  Image_27_jpg.rf.02eacb50a2f75a5d5d130cae5f4228...       0        0
4  Image_25_jpg.rf.026ff8d6042a2375319212252d13fe...       0        0

    Grapes   Kiwi   Mango   Orange   Pineapple   Sugerapple   Watermelon
0        0      0       0        1           0            0            0
1        0      0       0        0           0            0            0
2        0      0       1        0           0            0            0
3        0      1       0        0           0            0            0
4        0      0       0        1           0            0            0

In [41]:
print(data1.dtypes)
print(data2.dtypes)

filename       object
 Apple          int64
 Banana         int64
 Grapes         int64
 Kiwi           int64
 Mango          int64
 Orange         int64
 Pineapple      int64
 Sugerapple     int64
 Watermelon     int64
dtype: object
filename       object
 Apple          int64
 Banana         int64
 Grapes         int64
 Kiwi           int64
 Mango          int64
 Orange         int64
 Pineapple      int64
 Sugerapple     int64
 Watermelon     int64
dtype: object

In [46]:
merged_data = pd.merge(data1, data2, on='filename') 
merged_data=pd.merge(merged_data, data3 , on='filename')
# Example: Case-sensitive column name

In [58]:
print(merged_data.columns)

Index([' Apple_x', ' Banana_x', ' Grapes_x', ' Kiwi_x', ' Mango_x',
       ' Orange_x', ' Pineapple_x', ' Sugerapple_x', ' Watermelon_x',
       ' Apple_y', ' Banana_y', ' Grapes_y', ' Kiwi_y', ' Mango_y',
       ' Orange_y', ' Pineapple_y', ' Sugerapple_y', ' Watermelon_y', ' Apple',
       ' Banana', ' Grapes', ' Kiwi', ' Mango', ' Orange', ' Pineapple',
       ' Sugerapple', ' Watermelon'],
      dtype='object')

In [105]:
print(merged_data.head())

Empty DataFrame
Columns: [ Apple_x,  Banana_x,  Grapes_x,  Kiwi_x,  Mango_x,  Orange_x,  Pineapple_x,  Sugerapple_x,  Watermelon_x,  Apple_y,  Banana_y,  Grapes_y,  Kiwi_y,  Mango_y,  Orange_y,  Pineapple_y,  Sugerapple_y,  Watermelon_y,  Apple,  Banana,  Grapes,  Kiwi,  Mango,  Orange,  Pineapple,  Sugerapple,  Watermelon]
Index: []

[0 rows x 27 columns]

In [107]:
print(merged_data.columns)

Index([' Apple_x', ' Banana_x', ' Grapes_x', ' Kiwi_x', ' Mango_x',
       ' Orange_x', ' Pineapple_x', ' Sugerapple_x', ' Watermelon_x',
       ' Apple_y', ' Banana_y', ' Grapes_y', ' Kiwi_y', ' Mango_y',
       ' Orange_y', ' Pineapple_y', ' Sugerapple_y', ' Watermelon_y', ' Apple',
       ' Banana', ' Grapes', ' Kiwi', ' Mango', ' Orange', ' Pineapple',
       ' Sugerapple', ' Watermelon'],
      dtype='object')

In [110]:
merged_data.reset_index(drop=True, inplace=True)

In [144]:
print(merged_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0    Apple_x       0 non-null      int64
 1    Banana_x      0 non-null      int64
 2    Grapes_x      0 non-null      int64
 3    Kiwi_x        0 non-null      int64
 4    Mango_x       0 non-null      int64
 5    Orange_x      0 non-null      int64
 6    Pineapple_x   0 non-null      int64
 7    Sugerapple_x  0 non-null      int64
 8    Watermelon_x  0 non-null      int64
 9    Apple_y       0 non-null      int64
 10   Banana_y      0 non-null      int64
 11   Grapes_y      0 non-null      int64
 12   Kiwi_y        0 non-null      int64
 13   Mango_y       0 non-null      int64
 14   Orange_y      0 non-null      int64
 15   Pineapple_y   0 non-null      int64
 16   Sugerapple_y  0 non-null      int64
 17   Watermelon_y  0 non-null      int64
 18   Apple         0 non-null      int64
 19   Banana        0 non-null      int64
 20   Grapes        0 non-null      int64
 21   Kiwi          0 non-null      int64
 22   Mango         0 non-null      int64
 23   Orange        0 non-null      int64
 24   Pineapple     0 non-null      int64
 25   Sugerapple    0 non-null      int64
 26   Watermelon    0 non-null      int64
dtypes: int64(27)
memory usage: 132.0 bytes
None

In [149]:
column_to_encode = 'filename'

if column_to_encode in data1.columns:
    data1 = pd.get_dummies(data1, columns=[column_to_encode])
else:
    print(f"Column '{column_to_encode}' not found in DataFrame.")

Column 'filename' not found in DataFrame.

In [151]:
print(data1.shape)

(90, 99)

In [159]:
data1.columns = data1.columns.str.strip()

In [233]:
# Check the columns in your DataFrame
print(data1.columns)

# Drop the 'filename' column if it exists
if 'filename' in data1.columns:
    X = data1.drop('filename', axis=1)  # Features
    y = data1['Apple']  # Target variable
else:
    # Handle the case where 'filename' doesn't exist in columns
    print("'filename' column not found in DataFrame")

# Continue with the rest of your code
# e.g., X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Index(['Apple', 'Banana', 'Grapes', 'Kiwi', 'Mango', 'Orange', 'Pineapple',
       'Sugerapple', 'Watermelon', 'filename_0',
       ...
       'filename_82', 'filename_83', 'filename_84', 'filename_85',
       'filename_86', 'filename_87', 'filename_88', 'filename_89', 'x', 'y'],
      dtype='object', length=101)
'filename' column not found in DataFrame

In [235]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100, random_state=42)

In [240]:
import joblib

joblib.dump(model, 'MLAssesment4.pkl')

['MLAssesment4.pkl']